<div class="users-container">
    <div class="menu">
        <img src="../../../../assets/logo-removebg-white.png" alt="logo">
        <div class="buttons-wrap">
            <button>LISTA DE FUNCIONÁRIOS</button>
        </div>
    </div>
    <div class="main">
        <h1>LISTA DE FUNCIONÁRIOS</h1>
        <h4>Buscar por nome</h4>
        <input type="text">
        <div class="users-list">
            <ul>
                <li class="li-header">
                    <p>PRODUTO</p>
                </li>
                <li *ngFor="let user of usersList">
                    <p>{{ user.name }}</p>
                    <p>{{ user.email }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
