<div class="products-container">
    <div class="menu">
        <img src="../../../../assets/logo-removebg-white.png" alt="logo">
        <div class="buttons-wrap">
            <button>LISTA DE PRODUTOS</button>
            <button>ADICIONAR PRODUTOS</button>
        </div>
    </div>
    <div class="main">
        <h1>LISTA DE PRODUTOS</h1>
        <h4>Buscar por nome</h4>
        <input type="text" class="search" (input)="search($event)">
        <div class="products-list">
            <ul>
                <li *ngFor="let product of productsList">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-price">R$ {{ product.price }},00</p>
                    <p class="product-id">{{ product._id }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
