<section class="menu-container">
    <header>
        <h1>Nome do cliente:</h1>
        <div class="client-name">{{ infoFromTables.name }}</div>
        <h1>Mesa:</h1>
        <div class="client-table">{{ infoFromTables.table }}</div>
        <a class="back" (click)="back()"><i class="bi bi-arrow-left-circle-fill"></i>Voltar</a>
    </header>
    <main>
        <div class="menu">
                <h1>CAFÉ DA MANHÃ</h1>
                <ul class="breakfast">
                    <li *ngFor="let product of breakfastProducts">
                        <p>{{ product.name }}</p>
                        <img src="{{ product.image }}" alt="">
                        <p>R$ {{ product.price }}</p>
                        <div class="quantity-container">
                            <button class="quantityButtons" (click)="removeProduct($event, product, product.price)" value="{{ product._id }}">-</button>
                            <p >{{ product.quantity }}</p>
                            <button class="quantityButtons" (click)="addProduct($event, product, product.price, product.name)" value="{{ product._id }}">+</button>
                        </div>
                    </li>
                </ul>
                <h1>MENU DO DIA</h1>
                <ul class="todaysMenu">
                    <li *ngFor="let product of todaysProducts">
                        <p>{{ product.name }}</p>
                        <img src="{{ product.image }}" alt="">
                        <p>R$ {{ product.price }}</p>
                        <div class="quantity-container">
                            <button class="quantityButtons" (click)="removeProduct($event, product, product.price)" value="{{ product._id }}">-</button>
                            <p>{{ product.quantity }}</p>
                            <button class="quantityButtons" (click)="addProduct($event, product, product.price, product.name)" value="{{ product._id }}" >+</button>
                        </div>
                    </li>
                </ul>
        </div>
        <div class="details-screen">
            <div class="order-info">
                <p class="qtd">Qtd</p>
                <p class="description">Descrição</p>
                <p class="price">Valor</p>
            </div>

            <ul class="chosen-products" *ngIf="order.products.length !== 0">
                <li *ngFor="let item of order.products">
                    <p class="qtd">{{ item.quantity }}</p>
                    <p class="description">{{ item.name }}</p>
                    <p class="price">R$ {{ item.price }}</p>
                </li>
            </ul>

            <div class="total-info" *ngIf="order.products.length !== 0">
                <p class="qtd"></p>
                <p class="description">TOTAL</p>
                <p class="price">R$ {{ sum }}</p>
            </div>

            <button class="send-order" (click)="sendThisOrder()" *ngIf="order.products.length !== 0">ENVIAR PEDIDO</button>

            <!-- <div class="modal">
                Vamos fazer um teste
            </div> -->

        </div>
    </main>
</section>
