.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 920px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #FFF;
}

.client-name {
    width: 280px;
    height: 54px;
    margin: 0 20px;
    color: #FFF;
    border: none;
    font-size: 2.5em;
    font-weight: bold;
}

.client-table {
    width: 100px;
    height: 54px;
    padding-left: 20px;
    margin: 0 20px;
    color: #FFF;
    border: none;
    font-size: 2.5em;
    font-weight: bold;
}

.back {
    width: 110px;
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 80px;
}

.back:hover {
    cursor: pointer;
}

.bi-arrow-left-circle-fill {
    margin-right: 10px;
}

main {
    width: 920px;
    height: 640px;
    /* border: solid 1px #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

.menu {
    width: 532px;
    height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* border: solid 1px #fff; */
}

.menu::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius:0;
    background-color: #D0D4CE;
}

.menu::-webkit-scrollbar{
    width: 6px;
    background-color: #D0D4CE;
}

.menu::-webkit-scrollbar-thumb{
    border-radius:0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #344d67;
}

.menu h1 {
    width: 255px;
    height: 40px;
    text-align: center;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: bold;
    background: #FFF;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8px;
}

.menu ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    margin: 30px 0;
}

.menu li {
    list-style: none;
    width: 226px;
    height: 224px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu li p {
    font-size: 1.2em;
    font-weight: bolder;
}

.menu li img {
    width: 140px;
    height: 100px;
    /* border: solid 1px #fff; */
    object-fit: contain;
}

.menu li .quantity-container {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.quantityButtons {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 15px;
}

.quantityButtons:active {
    background: #9400FF;
    box-shadow: inset 9px 9px 10px #573391,
                inset -9px -9px 10px #6F1AB6;
    color: #FFF;
}

.details-screen {
    width: 368px;
    height: 572px;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-info {
    width: 350px;
    height: 41px;
    margin-top: 15px;
    /* display: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

.order-info p {
    height: 80%;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: bold;
    background: #FFF;
    border: none;
    text-align: center;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    padding: 5px;
}

.qtd {
    width: 15%;
}

.description {
    width: 60%;
}

.price {
    width: 20%;
}

.chosen-products {
    width: 350px;
}

.chosen-products li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 5px;
}

.chosen-products li p {
    height: 80%;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: bold;
    background: #FFF;
    text-align: center;
    border: none;
    padding: 5px;
}