<section class="tables-container">
    <header>
        <button id="logout"></button>
        <input class="clientName" type="text" placeholder="Nome do cliente" name="clientName" (blur)="prepareTable($event)">
        <button class="orders" id="start-order" [disabled]="!isAllReady" (click)="startOrder()">INICIAR PEDIDO</button>
        <button class="orders" id="order-status">VER STATUS</button>
    </header>
    <main>
        <div class="tables-grid">
            <button class="tables" *ngFor="let table of tables" #table.number (click)="checkTable(table.number)" value="`${{table.number}}`"><p class="table">mesa</p><p class="number">{{table.number}}</p></button>
        </div>
        <div class="details-screen">
            <div class="table-detail" *ngIf="selectedButton"><p>Status: </p><p>{{ tableStatus | uppercase }}</p></div>
        </div>
    </main>
</section>
