<div id="form">
    <p>LOGIN</p>
    <form (ngSubmit)="submit()" [formGroup]="loginForm">
        <input class="input" type="email" placeholder="Digite seu email" name="email" required formControlName="email">
        <input class="input" type="password" placeholder="Senha" name="password" required formControlName="password">
        <select class="input select-option" required (change)="chooseRole($event)" formControlName="role">
            <option default>FUNÇÃO</option>
            <option [value]="roles[0]">Admin</option>
            <option [value]="roles[1]">Cozinha</option>
            <option [value]="roles[2]">Garçom</option>
        </select>
        <input type="submit" id="submit" value="ENTRAR">
    </form>
</div>

<!-- (ngSubmit)="submit()" -->
<!-- [(ngModel)]="emailInput" -->
<!-- [(ngModel)]="password" -->
<!-- (click)="handleClick(email)" -->
<!-- formControlName="emailControl" -->
        <!-- <div *ngIf="emailControl.invalid && formDir.submitted" class="validation-error">
            <p *ngIf="emailControl.errors?.['required']">O email é obrigatório</p>
        </div> -->
        <!-- #formDir="ngForm" -->