header {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.order-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2em;
    color: #fff;
    margin-left: 340px;
}

.back {
    width: 110px;
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
    align-self: flex-start;
}

.back:hover {
    cursor: pointer;
}

.bi-arrow-left-circle-fill {
    margin-right: 10px;
}

.orders-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-container {
    width: 246px;
    height: 515px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.40);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.filter-container h3 {
    margin-bottom: 40px;
}

.orders-display {
    width: 602px;
    height: 600px;
    margin-top: 50px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.orders-display::-webkit-scrollbar{
    width: 6px;
    background-color: #D0D4CE;
}

.orders-display::-webkit-scrollbar-thumb{
    border-radius:0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #344d67;
}

.orders {
    width: 567px;
    height: fit-content;
    border-radius: 12px;
    opacity: 0.8;
    background: #FFF;
    margin: 15px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.orders p {
    margin-top: 5px;
}

.table-info,
.order-info {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.table-info h3,
.order-info h3 {
    margin: auto;
    margin-bottom: 15px;
}

.table-info {
    width: 55%;
}

.order-info {
    width: 45%;
}

.table-info p,
.order-info p {
    font-size: 1em;
    font-weight: bold;
}

button {
    width: 190px;
    min-height: 49px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #573391;
    background: #FFF;
    box-shadow: 2px 6px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

button:active {
    background: #9400FF;
    box-shadow: inset 9px 9px 10px #573391,
                inset -9px -9px 10px #6F1AB6;
    color: #FFF;
    border: 2px solid #FFF;
}

.selected {
    background: #6F1AB6;
    color: #fff;
}